*{
    margin: 0px;
    box-sizing: border-box;
}

.blogOuterBox{
    height: 100px;
    width: 300px;
    border: 1px black solid;
    margin-bottom: 1px;
    background-color: lightblue;
}

.blogInnerBox{
    height: 50px;
    width: 250px;
    border: 1px black solid;
    margin-bottom: 1px;
    background-color: red;
}